.problmes-table {
    margin-bottom: 700px;

}

.problems-table {
    counter-reset: rowNumber;
}

.problmes-table tr {
    counter-increment: rowNumber;
}

.problmes-table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}